# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3344553971823891d811cb385c79c6adc560d6a5a9fb78b108fd4ec3329a5aa7fc4783f7ac49d0b8fb621981c0fa2ab5f034915411a327cb687d582e0f8bf26a

test:
  secret_key_base: 13423cbf21371d75a115d6a166ec62d3991ae3c0b815f64b968ff611fe48d33a642cf737e383bb8ac8f2b7a0c2174cd9c01a902c3d36eb31fdfd77213ee79de4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
